@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  letter-spacing: 0.4px;
  margin: 0;
}

.section {
  padding: 50px 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.top .section {
  padding-left: 15px;
  padding-right: 15px;
}
.top .section .btn {
  color: #FFF;
}
.top .section h1 a {
  color: #333645;
}
.top .section h2 {
  font-size: 2.7rem;
  margin-bottom: 15px;
  margin-top: 0;
  color: #333645;
}
.top .section span {
  color: #333645;
}

.h2 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin-bottom: 11px;
}

.p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
}

.service-list {
  color: #333645;
}

.block {
  padding: 30px;
}

.top-box {
  margin-top: 30px;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 15px;
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.top a {
  text-decoration: none;
}

.h1-link {
  text-decoration: none;
}
.h1-link:hover {
  text-decoration: underline;
}

.software:hover {
  background-color: #67809F;
}
.software:hover .btn-software {
  color: #67809F;
  background-color: #FFF;
}
.software:hover .p, .software:hover .h2 {
  color: #FFF;
}

.it:hover {
  background-color: #4183D7;
}
.it:hover .btn-it {
  color: #4183D7;
  background-color: #FFF;
}
.it:hover .p, .it:hover .h2 {
  color: #FFF;
}

.digital:hover {
  background-color: #2ECC71;
}
.digital:hover .btn-digital {
  color: #2ECC71;
  background-color: #FFF;
}
.digital:hover .p, .digital:hover .h2 {
  color: #FFF;
}

.telecoms:hover {
  background-color: #D64541;
}
.telecoms:hover .btn-telecoms {
  color: #D64541;
  background-color: #FFF;
}
.telecoms:hover .p, .telecoms:hover .h2 {
  color: #FFF;
}

.web:hover {
  background-color: #926FB1;
}
.web:hover .btn-web {
  color: #926FB1;
  background-color: #FFF;
}
.web:hover .p, .web:hover .h2 {
  color: #FFF;
}

.security:hover {
  background-color: #F62459;
}
.security:hover .btn-security {
  color: #F62459;
  background-color: #FFF;
}
.security:hover .p, .security:hover .h2 {
  color: #FFF;
}

.training:hover {
  background-color: #CE4125;
}
.training:hover .btn-training {
  color: #CE4125;
  background-color: #FFF;
}
.training:hover .p, .training:hover .h2 {
  color: #FFF;
}

.btn {
  height: 47px;
  width: 129.73px;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  justify-content: center;
}

.btn-software {
  background-color: #F7B322;
}

.btn-it {
  background-color: #4183D7;
}

.btn-digital {
  background-color: #2ECC71;
}

.btn-telecoms {
  background-color: #D64541;
}

.btn-web {
  background-color: #926FB1;
}

.btn-security {
  background-color: #F62459;
}

.btn-training {
  background-color: #CE4125;
}

.felx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block span {
  display: flex;
  flex-direction: column;
}

.middle {
  background-color: #323544;
  color: #FFF;
}
.middle h2 {
  margin-bottom: 40px;
}
.middle a {
  text-decoration: none;
  color: #FFF;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

.middle-row {
  padding: 50px 0;
}

.strong-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.strong-paragraph {
  font-weight: 600;
}

.mid-col-1 p {
  font-size: 14px;
}

.client-quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}

.client-quote-author {
  font-weight: 600;
  color: #A3A8AC;
}

.client {
  font-weight: 600;
}

.mid-btn {
  display: inline-flex;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 6px;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
}

.middle-buttons a:first-child {
  width: 270.17px;
  height: 57px;
  margin-bottom: 17px;
}

.mid-btn-1 {
  width: 225.86px;
  height: 57px;
  margin-bottom: 50px;
  background-color: #272936;
}
.mid-btn-1:hover {
  background-color: #121318;
}

.mid-btn-2 {
  width: 263.19px;
  height: 55px;
  margin-top: 20px;
  margin-right: 8px;
  background-color: #4387f6;
}
.mid-btn-2:hover {
  background-color: #166AF4;
}

.mid-btn-3 {
  width: 294.05px;
  height: 55px;
  background-color: #00B67B;
  margin-top: 20px;
}
.mid-btn-3:hover {
  background-color: #009B69;
}

.star-icon {
  width: 46.84px;
  height: 51px;
  fill: #FFA500;
}

.middle-row {
  display: flex;
  flex-direction: column;
}

.star-row {
  display: flex;
}

.mid-col-1 {
  display: flex;
  flex-direction: column;
}

.mid-col-2 {
  display: flex;
  flex-direction: column;
}
.mid-col-2 h2 {
  margin-top: 0;
  align-self: flex start;
}

.middle-buttons {
  display: flex;
  flex-direction: column;
}

.strong-title {
  display: flex;
}

.client-quote-author {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #323544;
  color: #FFF;
  position: relative;
  margin-top: auto;
  padding: 47px 0 0;
  margin: 0;
}

.footer-logo-box h4 {
  margin-top: 24px;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.footer-social-logos {
  margin-bottom: 30px;
}

.footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}
.footer-menu ul {
  padding-left: 0px;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
.footer-menu h4 {
  font-size: 1rem;
  line-height: 18px;
  margin-bottom: 26px;
  margin-top: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  .footer-menu {
    margin-bottom: 40px;
  }
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.logo-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #212330;
  height: 56px;
  width: 109.31px;
  margin: 0 10px 10px 0;
  padding: 12px 22px 16px;
  text-decoration: none;
}

.logo-icon {
  width: 60%;
  height: auto;
  fill: #FFF;
  display: block;
}

.logo-icon-1 {
  width: 26.41px;
  height: 26px;
}

.logo-icon-2 {
  width: 22.69px;
  height: 26px;
}

.logo-icon-3 {
  width: 24.55px;
  height: 26px;
}

.logo-icon-4 {
  width: 22.7px;
  height: 26px;
}

.logo-button-1:hover {
  background-color: #3B5998;
}

.logo-button-2:hover {
  background-color: #0077B5;
}

.logo-button-3:hover {
  background-color: #00ACED;
}

.logo-button-4:hover {
  background-color: #D93175;
}

.img-footer {
  min-width: 250px;
  max-width: 250px;
  min-height: 51.25px;
  max-height: 51.25px;
}
@media (min-width: 413px) {
  .img-footer {
    min-width: 250px;
    max-width: 250px;
    min-height: 51.25px;
    max-height: 51.25px;
  }
}
@media (min-width: 480px) {
  .img-footer {
    min-width: 320px;
    max-width: 320px;
    min-height: 65.59px;
    max-height: 65.59px;
  }
}

.footer-logo-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}
.footer-social-logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (min-width: 480px) {
  .footer-social-logos {
    margin-bottom: 30px;
  }
}

.footer-menu-box {
  display: flex;
}
@media (min-width: 413px) {
  .footer-menu-box {
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: auto;
  }
}
@media (min-width: 992px) {
  .footer-menu-box {
    flex-direction: row;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-bottom-box {
  background-color: #212330;
  color: #FFF;
  font-size: 0.8125rem;
  padding-top: 10px;
  padding-bottom: 15px;
}
.footer-bottom-box ul {
  padding-left: 0;
}
.footer-bottom-box .license-3 {
  margin-right: 10px;
}

.footer-bottom-container {
  margin-left: 0;
  margin-right: 0;
}

.row-group {
  height: 22px;
}

.footer-bottom-box li {
  list-style-type: none;
}

.license-4 a {
  text-decoration: none;
}
.license-4 a:hover {
  text-decoration: underline;
}

.footer-bottom-column {
  display: flex;
  flex-direction: column;
}

.row-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.license-1 {
  display: flex;
}

.license-2 {
  display: flex;
}

.license-3 {
  display: flex;
}

.license-4 {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
