@use "../utilities" as *;
@use "../vendors" as *;

footer {
    background-color: $background-primary;
    color: $white;
    padding: 30px 0 0;
    position: relative;
    margin-top: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    .footer-logo-box {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .footer-menu-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex: 1;
    }

    .footer-social-logos svg {
        height: 3em;
        width: 3em;
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30%;

        .footer-menu {
            flex: 100%;
            margin-bottom: 30px;
            list-style-type: none;

            @media (min-width: 768px) {
                flex: 50%;
            }

            @media (min-width: 992px) {
                flex: 25%; 
            }

            @media (min-width: 1260px) {
                margin-bottom: 40px;
            }

            a {
                text-decoration: none;

                &:hover {
                   text-decoration: underline; 
                }
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
            }
        }
    }
}
