@use "../vendors";

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.img {
    min-width: 360px; 
    height: auto;
}

h4 {
   text-transform: uppercase;
   font-size: 1rem;
   margin-bottom: 26px;
}

.logo {
    margin: 0px 7px 0px 0px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}
