@use "../base" as *;
@use "../utilities" as *;
@use "../vendors" as *;

//////// Layout ////////

.welcome-to {
    @include color(background-1); // Created a colour using a mixin.
    @include color(wt-txt-color, color); // Created a colour using a mixin.

    h2 {
        margin-bottom: 40px; // Sets the margin area on the bottom of an element.
        margin-top: 0;
    }

    p {
        line-height: 1.875rem; // Used to set the distance between lines of text.
        margin-top: 0;
        margin-bottom: 25px; // Sets the margin area on the bottom of an element.
    }

    a {
        text-decoration: none; // Used to remove underline from a hyperlink.
        @include color(wt-txt-color, color); // Created a colour using a mixin.
    }
}

.welcome-to-column {
    padding: 0 12px;
}

a.strong-paragraph {

    &:hover {
        text-decoration: underline;
    }
}

.welcome-to-row {
    padding: 50px 0;
}

.strong-title {
        font-size: 2.25rem; // Sets the size of the font.
        font-weight: 600; // The “value” placed on my font that will determine how bold or light my text will appear.
    }

.strong-paragraph {
    font-weight: 600; // The “value” placed on my font that will determine how bold or light my text will appear.
}

.welcome-to-col-1 {
    p {
        font-size: 1rem; // Sets the size of the font.
    }
}

.client-quote {
    font-weight: 600; // The “value” placed on my font that will determine how bold or light my text will appear.
    font-size: 1.3rem; // Sets the size of the font.
    font-style: italic; // To show content/text in italic style
}

.client-quote-author {
    font-weight: 600; // The “value” placed on my font that will determine how bold or light my text will appear.
    @include color(client, color); // Created a colour using a mixin.
}

.client {
   font-weight: 600;
   font-size: 1.1rem;
}

//////// Buttons ////////

.welcome-to-buttons a:first-child {
    width: 270.17px; // Sets an element's width.
    height: 57px; // Sets an element's height.
    margin-bottom: 17px; // Sets the margin area on the bottom of an element.
    margin-right: 6px;

    @include mq(l) {
        margin-top: 8px;
    }

    @include mq(xl) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.welcome-to-btn-1 {
    width: 225.86px; // Sets an element's width.
    height: 57px; // Sets an element's height.
    margin-bottom: 50px; // Sets the margin area on the bottom of an element.
    @include color(wt-btn-bg-1); // Created a colour using a mixin.

    &:hover {
        @include color(wt-btn-bg-hv-1); // Created a colour using a mixin.
    }

    @include mq(l) {
        margin-bottom: 0;
    }
}

.welcome-to-btn-2 {
    width: 263.19px; // Sets an element's width.
    height: 55px; // Sets an element's height.
    margin-top: 20px; // Sets the margin area on the top of an element.
    margin-right: 8px; // Sets the margin area on the right of an element.
    @include color(wt-btn-bg-2); // Created a colour using a mixin.

    &:hover {
        @include color(wt-btn-bg-hv-2); // Created a colour using a mixin.
    }
}

.welcome-to-btn-3 {
    width: 294.05px; // Sets an element's width.
    height: 55px; // Sets an element's height.
    margin-top: 20px; // Sets the margin area on the top of an element.
    @include color(wt-btn-bg-3); // Created a colour using a mixin.

    &:hover {
        @include color(wt-btn-bg-hv-3); // Created a colour using a mixin.
    }
}

//////// Star Styles ////////

.star-icon {
    width: 46.84px;
    height: 51px;
    margin-bottom: 25px;
    @include color(star, fill); // Created a colour using a mixin.
}

.star {
    margin-left: 4px;
}

//////// Flexbox Layout ////////

.welcome-to-row {
    display: flex; // Makes it into a flex container.
    flex-direction: column; // Displays flex items in a column.

    @include mq(l) {
        flex-direction: row;
    }
}

.star-row {
    display: flex;
}

.welcome-to-column {
    flex: 1;
}

.welcome-to-col-1 { 
    display: flex; // Makes it into a flex container and a flex item.
    flex-direction: column; // Displays flex items in a column.
}

.welcome-to-col-2 {
    display: flex; // Makes it into a flex container and a flex item.
    flex-direction: column; // Displays flex items in a column.

    h2 {
       margin-top: 0; // Sets the margin area on the top of an element.
       align-self: flex start; // The flex items will be positioned at the beginning of the flex container.
    }
}

.middle-buttons {

    @include mq(xl) {
        display: flex;
        flex-direction: row;
    }
}
